:root{
    --main-color:rgb(0, 217, 255);
    --extra-color:rgb(0, 217, 255);
    --white-color:#FEFEFE;
    --black-color:#363753;
    --gray-color:#DFE3EE;
}

/* form login  */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    background-size: cover;
    /* opacity: 0.8; */
}
.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}
.container {
    background-color: var(--gray-color);    
    color:var(--main-color);
    width: 700px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 2px 1px var(--black-color);
    /* box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgba(112, 28, 28, 0.25), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e; */
}

.container .slider {
    width: 200%;
    position: relative;
    transition: transform ease-out 0.3s;
    display: flex;
}
.form__close-button {
    width: 29px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color)   ;
    height: 29px;
    border-radius: 50%;
    position: relative;
    left: 95%;
    top:14px;
    z-index: 4;
}
.form__close-button1 {
    width: 29px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color)   ;
    height: 29px;
    border-radius: 50%;
    position: relative;
    left: 95%;
    top:14px;
    z-index: 4;
}
#register_toggle {
    display: none;
}

.container #register_toggle:checked + .slider {
    transform: translateX(-50%);
}
#register_toggle1 {
    display: none;
}

.container #register_toggle1:checked + .slider {
    transform: translateX(-50%);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1.5em 3em;
    width: 50%;
}

.title {
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    gap: 10px;
}
.title .swtich:hover {
    color:var(--main-color) ;
    text-shadow: 1px 1px 2px var(--black-color);
}
form .form_control {
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .form_control .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: transform ease 0.2s;
    transform: translate(0%, -50%);
    font-size: 0.75em;
    user-select: none;
    pointer-events: none;
    color: #b0b0b0;
}

form .form_control .input {
    width: 96%;
    height: 40px;
    background-color: var(--white-color);
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: box-shadow ease 0.2s;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

form .form_control .input:focus,
form .form_control .input:valid {
    box-shadow: 0px 0px 0px #7a7a7a, 0px 0px 0px rgba(161, 157, 157, 0.25), inset 2px 2px 3px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
    transform: translate(-150%, -50%);
}
.checkbox {
    display: flex;
    align-self: start;
    gap: 10px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
}
form button {
    width: 50%;
    height:50px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: box-shadow ease 0.1s;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

form button:active {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.bottom_text {
    font-size: 1em;
}

.swtich {
    color: #fd0000;
    font-weight: 700;
    cursor: pointer;
    font-size: 2rem;
}

/* SHOPPING  */

#cart {
    position: fixed;
    top: -100%;
    right: 50%;
    width: 850px;
    overflow: hidden;
    transition: top 0.3s ease-in-out;
    z-index: 0;
    transform: translateX(50%);
}
#cart {
    background-color: var(--white-color);
    color: #000000;
    box-shadow: 0 0 3px 2px var(--gray-color);
    border-radius: 5px;
}

#cart.active {
    top: 20%;
    transform: translateX(50%);
    /* transition-delay: 0.3s; */
}
.cart__close-button {
    width: 29px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color)   ;
    height: 29px;
    border-radius: 50%;
    position: relative;
    left: 95%;
    top:14px;
    z-index: 4;
}

.cart__wrapper {
    margin-left: 10px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    min-height: 200px;

}
.cart__wrapper--item{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-color);
    width: 370px;
    height: 100px;
    padding-right: 20px;
}
.remove-cart {
    transition: transform 0.2s ease-in-out;
    color:#f56e6e;
  }
  
  .remove-cart:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    color:#fd0000;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(0);
      transform: scale(1.2);

    }
    25% {
      transform: rotate(10deg);
      transform: scale(1.2);
    }
    75% {
      transform: rotate(-10deg);

    }
    100% {
      transform: translate(0);
      transform: scale(1.2);
    }
  }
.card__pay {
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    min-height: 100px;
}
.card__pay button {
    background-color: rgb(30, 255, 0); 
    font-size:1.5rem;
    border:none;
    border-radius:5px;
    width: 100px;

}
.card__pay button:hover {
    cursor: pointer;
    background-color: aqua;
}